.choice-container{
    display: flex;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    border: 0.1rem solid rgb(182, 211, 236);
    background-color: white;
}

.choice-prefix{
    padding: 0.8rem 1.6rem;
    background-color: #56a5eb;
    color: white;
}

.choice-text{
    padding: 0.8rem;
    width: 100%;
}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: scaleX(1.05);
    transition: transform 150ms;
}

.correct{
    background-color: rgb(27, 234, 19);
}

.incorrect{
    background-color: rgb(245, 69, 69);
}